doctype html
html(lang='ua')
  head
    meta(charset='utf-8')
    title='Vite+pug'
  body
    include header.pug 
    include mainSection.pug 
    include services.pug 
    include appointment.pug
    include schedule.pug 
    include info.pug
    include footer.pug 
