main 
    section 
        section 
            h2 Ласкаво просимо до нашого медичного центру!
            article Ми раді вітати вас у нашому медичному центрі, де ваша здоров'я – наш головний пріоритет. Наші кваліфіковані лікарі та сучасне обладнання забезпечують високоякісне медичне обслуговування для вас та вашої родини.
            article 
            ul
                li Професійні лікарі з досвідом
                li Сучасні методи лікування та діагностики
                li Комфортні умови для пацієнтів
                li Індивідуальний підхід до кожного